body {
    background-color: rgb(78, 78, 78);
}
.game {
    background-color: white;
    position: relative;
    left: 25%;
    top: -200px;
}
.widget {
    background-color: rgb(112, 112, 112);
    width: 200px;
    height: 80px;
}
.topBar {
    background-color: rgb(112, 112, 112);
    width: 100%;
    height: 21px;
}
.topBarPos {
    position: relative;
    top: 10px;
}
.text {
    color: white;
}
.buildButton {
    position: relative;
    left: 30%;
}