body {
    background-color: rgb(78, 78, 78);
}
.game {
    background-color: white;
    position: relative;
    left: 25%;
    top: -200px;
}
.widget1 {
    background-color: rgb(112, 112, 112);
    width: 200px;
    height: 60px;
}
.widget2 {
    background-color: rgb(112, 112, 112);
    width: 200px;
    height: 65px;
}
.topBar {
    background-color: rgb(112, 112, 112);
    width: 100%;
    height: 21px;
}
.topBarPos {
    position: relative;
    top: 10px;
}
.text {
    color: white;
}
.buildButton {
    position: relative;
    left: 30%;
}
.lightBulb {
    max-width: 10%;
    position: relative;
    top: -70%;
    left: 200px;
}